.BannerWrapper {
    height: 200px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.Title {
    font-size: 48px;
    font-weight: bold;
    color: #333c4b;
}
.SubTitle {
    font-size: 17px;
    font-weight: bold;
    color: #333c4b;
    margin-bottom: 12px;
}
.MainText {
    font-size: 16px;
    color: #4e5968;
}

.MemberCardWrapper {
    width: 33.33%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    cursor: pointer;
}

