.SectionWrapper {
    display: flex;
    justify-content: space-between;
}
.IntroduceWrapper {
    margin-right: 20px;
    box-sizing: inherit;
}
.JoinWrapper {
    width: 337px;
    min-width: 250px;
}
.JoinInner {
    display: flex;
    position: sticky;
    width: 100%;
    top: 100px;
    flex-direction: column;
}
.MinTitle {
    width: 90px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color:#bfc4cb;
}
.MinText {
    color: #3886f6;
}
.ElementWrapper {
    padding: 14px 0px;
    display: flex;
    border-top: 1px solid #d1d6db;
}
.MoblieTopElementWrapper {
    display: none;
}
.MoblieBottomElementWrapper {
    display: none;
    background: -webkit-linear-gradient(
            bottom,
            rgba(255, 255, 255, 1) 83%,
            rgba(255, 255, 255, 0)
    );
    padding-top: 20px;
}
.StyledButton {
    background: #42a5f5;
    color: white;
    width: 100%;
    padding: 12px 0px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #42a5f5;
    border-style: inherit;
    margin-bottom: 10px;
    font-size: 15px;
}
.StyledButton:hover {
    background: #3886f6;
    cursor: pointer;
}
@media (max-width: 320px) {
    .SectionWrapper {
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    .SectionWrapper {
        flex-direction: column;
    }
}
@media (max-width: 375px) {
    .IntroduceWrapper {
        max-width: 550px;
    }
}
@media (max-width: 550px) {
    .IntroduceWrapper {
        max-width: 768px;
    }
}
@media (max-width: 500px) {
    .JoinWrapper {
       display: block;
    }
}
@media (max-width: 500px) {
    .JoinInner {
        position: initial;
    }
}
@media (max-width: 320px) {
    .JoinInner {
        position: initial;
    }
}
@media (max-width: 500px) {
    .MoblieTopElementWrapper {
        display: flex;
        flex-direction: column;
        bottom: 10px;
    }
}
@media (max-width: 500px) {
    .MoblieBottomElementWrapper {
        display: flex;
        flex-direction: column;
        position: sticky;
        bottom: 0px;
    }
}




