.TeamCategoryWrapper {
   margin-right: 50px;
}
.TeamTable {
   text-align: left;
   margin: 0 auto;
}
.TeamTable th {
   margin: 0;
}
.TeamCategory {
   width: 450px;
   font-size: 13px;
   font-weight: inherit;
   padding: 24px 0 24px 20px;
   color: rgb(139, 149, 161);
}
.SubCategory {
   width: 200px;
   font-size: 13px;
   font-weight: inherit;
   padding: 24px 0;
   color: rgb(139, 149, 161);
}
.TeamName {
   display: inline-block;
   width: 420px;
   font-size: 18px;
   font-weight: bold;
   padding: 24px 0 24px 20px;
   border-radius: 10px;
}
.TeamSkill, .TeamStack {
   display: inline-block;
   width: 180px;
   font-size: 13px;
   padding: 0 0 0 20px;
   color: rgb(139, 149, 161);
}
.TeamTableContent {
   border-radius: 10px;
   font-weight: inherit;
}
.TeamTableContent:hover {
   cursor: pointer;
   background: #f2f4f6;
}
@media screen and (max-width: 1024px) {
   .TeamCategory, .TeamName {
      width: 350px;
   }
   .SubCategory, .TeamSkill, .TeamStack {
      width: 110px;
   }
   .TeamTable {
      margin: 0;
      width: 100%;
   }
}
@media screen and (max-width: 768px) {
   .TeamCategory, .TeamName {
      width: 215px;
   }
   .SubCategory, .TeamSkill, .TeamStack {
      width: 100px;
   }
}
@media screen and (max-width: 594px) {
   .TeamName, .TeamSkill, .TeamStack {
      display: block;
   }
   .TeamCategory, .SubCategory, .TeamStack {
      display: none;
   }
}